<div class="tm-head">
  <h3><%= t(:embers1) %></h3>
</div>
<center>
<div class="container_hookah">
  <%= image_tag("embers1.jpeg")%>
  <%= image_tag("embers2.jpeg")%>
</div>
<div class="tm-head">
  <h3><%= t(:embers2) %></h3>
</div>
<div class="container_hookah">
  <%= image_tag("embers3.jpeg")%>
  <%= image_tag("embers4.jpeg")%>
</div>
</center>
